body {
    font-family: Arial, sans-serif;
    background-image: url(./download.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    color: #000000; 
    margin: 0;
    padding: 0; 
}


.container {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(219, 219, 33);    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-left: -9px;
}

button {
    background-color: #000000; /* Black button */
    color: #ffffff; /* White text */
    cursor: pointer;
    margin-left:3px;
}

button:hover {
    background-color: #1a1a1a; /* Darker black on hover */
}

p {
    text-align: center;
}

a {
    color: #ffffff; /* White link text */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    display: none;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 600px) {
    body {
        background-size: cover;
    }
    .container {
        max-width: 300px;
        margin: 50px auto;
    }
}